.body
{
	font-family:verdana;
	overflow: hidden !important;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0px !important;
}

.oddTd{
	background:#BDBDBD;
}
.header{
	background:#000;
	width:100%;
	min-height:40px;
	height:20%;
	padding-left:10px
}
.headerV{
	font-family:verdana;
	 font-size:40px; 
	color:red;
}
.buttonContainer
{
	text-align: right !Important;
	float:right;
	padding-top:20px;
	
}
.headerRest
{
	font-family:verdana !important;
	font-size:35px; 
	color:#fff;
}
.mainContent{
	
	margin:20px;
	height:800px;
}
.container
{
	padding:0px !important;	
	width:100% !important;
/* 	border:2px solid black; */
}
.table_header_details{
	background:black;
	color:white;
	font:verdana !important;
	text-align:center;
	height:35px;
	padding:8px;
}
.credential_container
{
	width:100% !important;
	height:250px;
	
	/* background:green; */
}
.table tr th
{
	
	background:black !important;
	color:white !important;
	font-family:verdana !important;
	font-weight:normal !important;
	
}
.mappingTableSection{
	
	 width:100% !important; 
	 
}